<% @projects.each do |proj| %>

    <tr>
        <td><%= link_to proj.id,  project_show_path(proj) %></td>
        <td><%= proj.acronym %></td>
        <td><%= proj.programme_pga %></td>
        <td><%= proj.start_date %></td>
        <td><%= proj.end_date %></td>
        <td class="text-center"><%= proj.coordinator_country %></td>
        <td class="text-right"><%= proj.total_cost %> €</td>
        <td class="text-center"><%= proj.num_countries %></td>
        <td class="text-center"><%= proj.num_participants %></td>
    </tr>

<% end %>
