<!-- Projects#index -->
<div class="row">
  <div class="small-11 small-centered columns">
  <br>

  <h2>Projects</h2>

  <br>

  <div class="row">
    <table id="projects">
      <thead>
        <tr>
          <th><%= sortable "reference", @model, @default_sort, nil, "Reference" %></th>
          <th><%= sortable "programme_pga", @model, @default_sort, nil, "Prog. PGA" %></th>
          <th><%= sortable "start_date", @model, @default_sort, nil, "Start" %></th>
          <th><%= sortable "end_date", @model, @default_sort, nil, "End" %></th>
          <th><%= sortable "coordinator_country", @model, @default_sort, nil, "Coor. country" %></th>
          <th><%= sortable "total_cost", @model, @default_sort, nil, "Total cost" %></th>
          <th><%= sortable "num_countries", @model, @default_sort, nil, "N° countries" %></th>
          <th><%= sortable "num_participants", @model, @default_sort, nil, "N° participants" %></th>
        </tr>
      </thead>
      <tbody id="projects_table">
        <%= render partial: "projects_table" %>
      </tbody>
    <!-- ... -->
    </table>

  <%= paginate @projects, remote: true %>
  </div>

  <br>


  </div>
</div>

